extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="input", action="/login" method="post")
    input(type="submit" value="Login to Google")
  form(name='uploadtest', action="/uploadtest", method="get")
    input(type="submit", value="UploadTest")
  form(name='uploadimage', action="/uploadimage", method="get")
    input(type="submit", value="Upload image")
