extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="input", action="/login" method="post")
    input(type="submit" value="Login to Google")
  form(name='uploadtest', action="/uploadtest", method="post")
    input(type="submit", value="Upload text file to drive")
  form(name='uploadimage', action="/uploadimage", method="post")
    input(type="submit", value="Upload image file to drive (uses pipe)")
  form(name='datastorebegin', action="/datastorebegin", method="post")
    input(type="submit", value="Begin transaction with DataStore")
